*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.scvd

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/JLinkLog.txt
**/_viminfo
**/_vimtags
_build/
RTE/

## Segger Embedded Studio ##
*.jlink
**/ses/Output/